<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/fiche.css}" rel = "stylesheet"/>
    <title>Fiche Employee</title>
</head>
<body>
    <div class="mainBody">
        <div class="heading">
            <div class="first">
                <div class="emplImg">
                <img src="" alt="Photo 4x4" class="centerImg">
                </div>
            </div>
            <div class="second">
                <h2>FICHE EMPLOYE</h2>
                <p>Numéro matricule:</p>
                <p>Noms:</p>
                <p>Prénoms:</p>
                <p>Age:</p>
                <p>Date d'embauche:</p>
                <p>Date de départ:</p>
                <p>Numéro CNAPS:</p>
            </div>
        </div>
        <div class="middleBody">
            <h4>Informations sur le salaire</h4>
            <h4 class="salary">Salaire brute actuel : xxx Ariary / mois</h4>
        </div>
        <footer>
            <hr>
            <div class="bottom">
                <div class="partone">
                    <div class="entrImg">
                    <img src="" alt="Logo de l'entreprise" class="logoEntr">
                    </div>
                    </div>
                <div class="parttwo">
                    <h4>Nom de l'entreprise</h4>
                    <h4>NIF</h4>
                    <h4>STAT</h4>
                </div>
                <div class="partthree">
                    <h4>Adresse de l'entreprise</h4>
                    <h4>Numéro téléphone</h4>
                    <h4>Email</h4>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>